<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row>
        <div nz-col nzSpan="12">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </div>
        <div nz-col nzSpan="12">
          <div><i nz-icon nzType="user" nzTheme="outline"></i></div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div>
          <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="addLeave()">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>ทำเรื่องขอลา!
          </button>
        </div>
        <div nz-row>
          <nz-table [nzData]="data" nzShowPagination="false">
            <thead>
              <tr>
                <th style="width: 200px">Name</th>
                <th style="width: 200px">Email</th>
                <th style="width: 200px">Data-Time</th>
                <th style="width: 120px">Type Leave</th>
                <th style="width: 120px">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let value of data">
                <td>{{ value.fullname }}</td>
                <td>{{ value.email }}</td>
                <td>{{ value.date }}</td>
                <td>
                  <div *ngIf="value.type == 'ลาป่วย'">
                    <p style="text-align: center">ลาป่วย</p>
                  </div>
                  <div *ngIf="value.type == 'ลากิจ'">
                    <p style="text-align: center">ลากิจ</p>
                  </div>
                </td>
                <td>
                  <div *ngIf="value.status == '1'">
                    <p style="text-align: center">อนุมัติ</p>
                  </div>
                  <div *ngIf="value.status == '2'">
                    <p style="text-align: center">ยังไม่อนุมัติ</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
